/*clases de Bootstrap*/

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-light .navbar-toggler {
    border-color: #979797;
}

.navbar-brand {
    margin-right: 0;
    margin-top: 2rem;
}

//-------------------------
.barra {
    text-align: center;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

.contenidoBarra {
    padding: 1rem;
}

.logo {
    img {
        width: 60%;
        margin-top: 2rem;
        filter: contrast(50);
    }
}

.navegacion {
    li {
        a {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: #cacaca;
            font-weight: 300;
        }
    }
    ul {
        li {
            list-style: none;
            margin-right: 10px;
            margin-top: 1rem;
        }
        li:last-of-type {
            margin-bottom: 1rem;
        }
    }
}

@media(min-width:480px) {
    .logo {
        img {
            width: 50%;
        }
    }
}

@media(min-width:600px) {
    .logo {
        img {
            width: 45%;
        }
    }
    .navegacion {
        li {
            a {
                color: #fff;
            }
        }
    }
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navMedia {
        display: flex;
    }
    .logo {
        img {
            width: 80%;
            filter: contrast(50)
        }
    }
    .navegacion {
        li {
            a {
                font-size: 1.9rem;
                color: #ffff;
                margin-right: .5rem;
            }
        }
    }
}

@media(min-width: 1024px) {
    .barra {
        padding: 1rem;
    }
    .logo {
        img {
            width: 95%;
        }
    }
    .navegacion {
        li {
            a {
                margin-right: 1rem;
            }
        }
    }
    /*Clase de Bootstrap*/
    // .nav-link {
    //     font-size: 2rem;
    // }
}