.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: rgb(68, 68, 68);
}

.section-title h2::after {
    background: rgb(68, 68, 68);
}

h1 {
    color: rgb(68, 68, 68);
}